// Text and background colors
$darkGradientColor: #010101;
$lighterGradientColor: #202020;
$cardBackground: #171717;
$lighterBackground: #2b2b2b;
$hoverLighterBackground: #212121;
$darkTextColor: #838383;
$lightTextColor: #f7f7f7;
$playerButtonsColor: rgb(215, 215, 215);
$progressBarHeight: 5px;
$progressBarRound: 10px;
$spotifyGreen: #1db954;
$heartSize: 35px;

// Breakpoints
$mdBreak: 768px;
$lgBreak: 992px;
$xlBreak: 1200px;
$xxlBreak: 1400px;
