@import 'bootstrap/scss/bootstrap.scss';

// Variables

// Text and background colors
$darkGradientColor: #010101;
$lighterGradientColor: #202020;
$cardBackground: #171717;
$lighterBackground: #2b2b2b;
$hoverLighterBackground: #212121;
$darkTextColor: #838383;
$lightTextColor: #f7f7f7;
$playerButtonsColor: rgb(215, 215, 215);
$progressBarHeight: 5px;
$progressBarRound: 10px;
$spotifyGreen: #1db954;

// Breakpoints
$mdBreak: 768px;
$lgBreak: 992px;
$xlBreak: 1200px;
$xxlBreak: 1400px;

body {
  background-color: black;
  color: white;
}

//scrollbar style

::-webkit-scrollbar {
  background-color: #2b2b2b;
}

::-ms-scrollbar {
  background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background-color: #1db954;
  border-radius: 50px;
}

/*HOMEPAGE*/

/* NAVBAR DESKTOP */

.dropdown-toggle {
  cursor: pointer;
  &::after {
    display: none;
  }
}

#navbar-desktop,
#friends {
  position: sticky;
  top: 0;
  height: 100vh;
}

.friends-card {
  h4 {
    font-size: 15px;
    font-weight: bold;
  }
  span {
    font-size: 11px;
  }
  p {
    font-size: 12px;
  }
}

/*CENTER SECTION */
#center-section {
  overflow-y: auto;
  height: 87vh;
}

/* HERO HOMEPAGE */

.spotify-green-bg {
  background: $spotifyGreen;
}

//button trasform index
#playBtn-index,
#saveBtn-index {
  transition: transform 0.1s ease-in-out;
}

#playBtn-index:hover,
#saveBtn-index:hover {
  transform: scale(1.1);
}

#saveBtn-index:hover {
  background-color: white !important;
  color: black !important;
}

/*LIKED SECTION */

#liked {
  color: $darkTextColor;

  a.card-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
  }

  p {
    font-size: 0.8rem;
    font-weight: 700;
  }

  h2 {
    color: $lightTextColor;
    margin-bottom: 30px;
  }

  .playlists {
    gap: 10px;

    .card {
      padding: 10px;
      background-color: $cardBackground;
      border: none;
      display: block;
      &:hover {
        cursor: pointer;
        background-color: $hoverLighterBackground;
      }

      // Responsive behaviour based on number of cards
      @media screen and (min-width: $lgBreak) {
        display: none;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }
      @media screen and (min-width: $xlBreak) {
        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }
      @media screen and (min-width: $xxlBreak) {
        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }

      img {
        width: 100%;
      }

      h5 {
        color: $lightTextColor;
        font-size: 1rem;
      }

      p {
        color: $darkTextColor;
        font-size: 0.8rem;
      }
    }
  }
}

/* PLAYER DESKTOP */

#player-desktop {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: $cardBackground;
  width: 100vw;
  height: 100px;
  justify-content: space-between;

  svg,
  progress {
    &:hover {
      cursor: pointer;
    }
  }

  .nowPlaying,
  .playbackControls,
  .volumeControls {
    padding: 20px;
    align-items: center;
    gap: 10px;

    h6 {
      color: $lightTextColor;
      font-size: 0.8rem;
    }

    p {
      font-size: 0.8rem;
      color: $darkTextColor;
    }

    img {
      border-radius: 3px;
      box-shadow: 1px 1px, 5px, black;
      width: 60px;
      object-fit: contain;
      display: none;

      @media screen and (min-width: $xlBreak) {
        display: block;
      }
    }

    #volumeBar,
    #coverBar {
      width: 90px;
      height: 10px;
    }

    .volumeControls {
      position: relative;
    }

    #coverBarContainer {
      position: absolute;
      background-color: $cardBackground;
      // background-color: red;
      right: 154px;
      z-index: 10;
    }
  }

  .rightSideButtons {
    z-index: 20;
  }

  .nowPlaying {
    width: 300px;
    gap: 10px;

    p {
      margin: 0;
    }

    svg {
      width: $heartSize;
      height: $heartSize;
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
    }
    #player-title-artist {
      min-width: 100px;
    }
  }

  .playbackControls {
    align-items: center;
    position: relative;
    right: 20px;

    @media screen and (min-width: $lgBreak) {
      position: static;
    }

    div {
      align-items: center;
      padding: 5px;
      gap: 8px;

      progress {
        height: 8px;
      }

      p {
        margin: 0;
      }
    }

    .playerButtons {
      height: 40px;
      position: relative;
      bottom: 10px;

      svg {
        width: 30px;
        height: 20px;

        &:hover {
          scale: 1.2;
          transition-property: scale;
          transition-duration: 100ms;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  #playButton,
  #pauseButton {
    width: 30px;
    height: 30px;
  }

  .playerBar {
    position: relative;
    bottom: 10px;

    progress {
      width: 300px;
    }
  }

  .playbackControls {
    gap: 10px;
  }
}

#heartFill {
  display: none;
}

.volumeControls {
  svg {
    display: none;

    @media screen and (min-width: $lgBreak) {
      display: block;
    }
  }

  #volumeIcon,
  #fullscreenIcon {
    display: block;
  }

  .rightSideButtons {
    border: none;
    background: none;
    color: $playerButtonsColor;

    svg {
      position: relative;
      z-index: 10;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .volumeContainer {
    position: relative;
    top: 2px;

    &:hover {
      cursor: pointer;
    }

    .volumeFlex {
      align-items: center;
      height: $progressBarHeight;
      background-color: $playerButtonsColor;
      border-radius: 10px;

      .emptyBar {
        background-color: $darkTextColor;
        width: 100%;
        height: $progressBarHeight;
        border-radius: $progressBarRound;
        position: relative;

        .fullBar {
          position: absolute;
          border-radius: $progressBarRound;
          height: $progressBarHeight;
          background-color: $lightTextColor;
          width: 100%;
        }
      }
    }
  }

  .coloredVolumeBar .volumeFlex .emptyBar .fullBar {
    background-color: $spotifyGreen;

    &::after {
      content: '';
      display: inline-block;
      width: 15px;
      /* Adjust the size of the sphere as needed */
      height: 15px;
      /* Should be equal to width to create a perfect circle */
      background-color: white;
      /* Color of the sphere */
      border-radius: 50%;
      /* Make it a circle */
      position: absolute;
      top: 50%;
      /* Position it vertically in the middle */
      right: 0;
      /* Position it at the end of the div */
      transform: translateY(-50%);
    }
  }

  .volumeIconAndSlider {
    height: 45px;
  }
}

.playerControls {
  border: none;
  background-color: transparent;
  color: $lightTextColor;
}

.playerControlsHighlighted {
  color: $spotifyGreen;
}
/* PLAYLIST MOBILE */

#playlistMobileWrapper {
  margin-bottom: 170px;
}

#playlist-mobile {
  border-radius: 20px;
  background-color: #242424;
}

.bi-heart-fill {
  color: #1ed75f;
}

/* PLAYER MOBILE */
#player-mobile {
  background-color: #242424;
  border-radius: 10px;
  bottom: 100px;
}

/* NAVBAR MOBILE */
#navbar-mobile {
  background-color: #242424;
  z-index: 99;
}

/*ALBUM*/

.songName {
  font-size: medium;
  font-weight: bold;
}
.artistName {
  font-size: small;
  color: gray;
}
.spacingAntiBarTracksMobile {
  padding-bottom: 10rem !important;
} /*CLASSE PER NON NASCONDERE IL CONTENUTO SOTTO LA BARRA E MOSTRARLO INTERAMENTE*/

/*HERO MOBILE*/
.backbtn-album {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  background-color: rgba(131, 131, 131, 0.5);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#album-title-mobile {
  margin-top: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

#album-track-mobile {
  margin-bottom: 170px;
}

#hero-mobile-artist {
  text-align: center;
  padding: 2.6rem 0 0.5rem 0;
  background: linear-gradient(to top, #212121 0%, #1db954);
}

.hero-img-artist {
  width: 60%;
}

.album-img {
  width: 5%;
  border-radius: 50%;
  margin: 0 0.3rem 0 0;
}

.icon-wrapper-album {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-wrapper-album {
  flex-basis: 29%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.play-wrapper-album {
  display: flex;
  align-items: center;
  position: relative;
}

.titleAlbum {
  font-size: 1.4rem;
}

#artist-wrapper-album {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  h2 {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

.albumData {
  color: #838383;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.greyIcon {
  color: #838383;
}

.heart-active {
  fill: #1db954 !important;
}

.arrow-active {
  color: #fff !important;
}

#shuffleDot-album {
  background-color: #1db954;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: none;
  vertical-align: middle;
  margin-left: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(175%);
}

/*ARTIST*/

/*POPULAR MOBILE
CLASSE PER NON NASCONDERE IL CONTENUTO SOTTO LA BARRA E MOSTRARLO INTERAMENTE*/
.spacingAntiBar {
  padding-bottom: 6rem !important;
}

/* HERO MOBILE */

#hero-mobile {
  position: relative;
  background: url('/assets/imgs/artist/img-hero.jpg') center/cover;
  height: 50vh;
  overflow: hidden;
}

#hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.5) 80%
  );
  z-index: 1;
  h1 {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.8rem;
  }
}

/* LISTENER MOBILE */
#listeners-mobile {
  color: #b3b3b3;
  padding: 1rem;
}

#listeners-counter {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.8rem;
}

#icon-wrapper {
  display: flex;
  justify-content: space-between;
}

#follow-wrapper {
  display: flex;
  align-items: center;
  button {
    font-size: 0.8rem;
    margin-right: 1.4rem;
    background-color: inherit;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 4px 12px;
  }
}

#follow-wrapper button.followed {
  border-color: #b3b3b3;
}

#shuffle-wrapper {
  display: flex;
  align-items: center;
}

#shuffleDot {
  background-color: #1db954;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: none;
  transform: translate(6px, -3px);
}

.dotsIcon,
.shuffleIcon {
  color: inherit;
  font-size: 1.3rem;
}

.green {
  color: #1db954;
}

#playIcon {
  margin-left: 0.8rem;
  color: #1db954;
  font-size: 2.5rem;
}

#liked-mobile {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 0;

  .bi-heart-fill {
    background-color: #1db954;
    color: #212121;
    border-radius: 50%;
    font-size: 1rem;
    width: 22px;
    height: 22px;
    padding-left: 2.5px;
    margin-left: -5px;
    margin-right: -1px;
    display: inline-block;
  }
}

/* LIKED MOBILE */

.liked-img {
  border-radius: 50%;
}

#likedIcon {
  margin-right: 1rem;
}

.likedSong {
  font-size: 1rem;
  margin-bottom: 0;
}

.likedNum {
  font-size: 0.85rem;
  color: #b3b3b3;
}

/*END LIKED MOBILE*/

/*HERO ARTIST*/

/*Aggiunta classe custom per img di bg di div hero artist */
#buttonFollowingBar {
  background-color: $spotifyGreen;
}
/*Colore bottone play following bar pagina artist*/
.custom-gradient-background {
  background: linear-gradient(to bottom, #cc9900, #444444, #000000);
}
/*aggiunta classe custom per il bg color della sezione album*/
.sfumaAlbum {
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

//following bar style - artist

#following-bar {
  background-color: $lighterBackground;
  border-radius: 35px;
  display: flex;
  align-items: center;
}

//follow button style - artist

#follow-btn-artist {
  padding: 0.3rem 0.8rem;
  background: inherit;
  border: 1px solid white;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
}

#treDots-artist {
  background-color: $lighterBackground !important;
}

#user1-btn-artist {
  margin-top: 1rem !important;
}

/*SEARCH*/

#main-search {
  overflow-y: auto;
  height: 87vh;
}

#search-component {
  input {
    color: white;
    &::placeholder {
      color: $secondary;
      font-weight: bold;
    }
  }
  .custom-focus:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
}

//margin-bottom search
#card-section-search {
  margin-bottom: 11rem;
}

@media screen and (min-width: 768px) {
  #card-section-search {
    margin-bottom: 9rem;
  }
}

/* CATEGORIES */

.categories-card {
  overflow: hidden;
  img {
    transform: translateX(16px);
    rotate: 20deg;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  #player-desktop {
    display: none !important;
  }
  #player-title-artist {
    h6 {
      display: none;
    }
  }
}

.toggle-popular-dropdown-menu {
  z-index: 100;
  position: fixed;
  background-color: #242424;
  bottom: 0;
  width: 100vh;
  padding-bottom: 200px;

  button {
    background-color: transparent;
    border: none;
    color: white;
  }
}
