@import 'bootstrap/scss/bootstrap.scss';

// Variables

// Text and background colors
$darkGradientColor: #010101;
$lighterGradientColor: #202020;
$cardBackground: #171717;
$lighterBackground: #2b2b2b;
$darkTextColor: #838383;
$lightTextColor: #f7f7f7;
$spotifyGreen: #1db954;
$hoverLighterBackground: #2b2b2b;

// Breakpoints
$mdBreak: 768px;
$lgBreak: 992px;
$xlBreak: 1200px;
$xxlBreak: 1400px;

body {
  background-color: black;
  color: white;
}

/*HOMEPAGE*/

/* NAVBAR DESKTOP */

.dropdown-toggle {
  cursor: pointer;
  &::after {
    display: none;
  }
}

.navbarItems, .playlistPrivate{
  font-size: 1.5rem !important;
}

#navbar-desktop,
#friends {
  position: sticky;
  top: 0;
  height: 100vh;
}

.friends-card {
  h4 {
    font-size: 15px;
    font-weight: bold;
  }
  span {
    font-size: 11px;
  }
  p {
    font-size: 12px;
  }
}

/*CENTER SECTION */
#center-section {
  overflow-y: auto;
  height: 87vh;
}

/* HERO HOMEPAGE */

.spotify-green-bg {
  background: $spotifyGreen;
}

/*LIKED SECTION */

#liked {
  color: $darkTextColor;

  a.card-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
  }

  p {
    font-size: 0.8rem;
    font-weight: 700;
  }

  h2 {
    color: $lightTextColor;
    margin-bottom: 30px;
  }

  .playlists {
    gap: 10px;

    .card {
      padding: 10px;
      background-color: $cardBackground;
      border: none;
      display: block;
      &:hover {
        cursor: pointer;
        background-color: $hoverLighterBackground;
      }

      // Responsive behaviour based on number of cards
      @media screen and (min-width: $lgBreak) {
        display: none;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }
      @media screen and (min-width: $xlBreak) {
        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }
      @media screen and (min-width: $xxlBreak) {
        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            display: block;
          }
        }
      }

      img {
        width: 100%;
      }

      h5 {
        color: $lightTextColor;
        font-size: 1rem;
      }

      p {
        color: $darkTextColor;
        font-size: 0.8rem;
      }
    }
  }
}

/* PLAYER DESKTOP */
#player-desktop {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: $cardBackground;
  width: 100vw;
  height: 100px;
  justify-content: space-between;

  svg,
  progress {
    &:hover {
      cursor: pointer;
    }
  }

  .nowPlaying,
  .playbackControls,
  .volumeControls {
    padding: 20px;
    align-items: center;
    gap: 10px;

    h6 {
      color: $lightTextColor;
      font-size: 0.8rem;
    }

    p {
      font-size: 0.8rem;
      color: $darkTextColor;
    }

    img {
      border-radius: 3px;
      box-shadow: 1px 1px, 5px, black;
      width: 60px;
      object-fit: contain;
      display: none;
      @media screen and (min-width: 860px) {
        display: block;
      }
    }

    #volumeBar {
      width: 90px;
      height: 10px;
    }
  }

  .nowPlaying {
    width: 300px;
    gap: 20px;

    p {
      margin: 0;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .playbackControls {
    align-items: center;
    position: relative;
    right: 20px;
    @media screen and (min-width: $lgBreak) {
      position: static;
    }

    div {
      align-items: center;
      padding: 5px;
      gap: 8px;

      progress {
        height: 8px;
      }

      p {
        margin: 0;
      }
    }

    .playerButtons {
      height: 40px;
      position: relative;
      bottom: 10px;

      svg {
        width: 30px;
        height: 20px;

        &:hover {
          scale: 1.2;
          transition-property: scale;
          transition-duration: 100ms;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  #playButton,
  #pauseButton {
    width: 30px;
    height: 30px;
  }

  .playerBar {
    position: relative;
    bottom: 10px;

    progress {
      width: 300px;
    }
  }

  .playbackControls {
    gap: 10px;
  }
}

#heartFill {
  display: none;
}

.volumeControls {
  svg {
    display: none;
    @media screen and (min-width: $lgBreak) {
      display: block;
    }
  }
  #volumeIcon,
  #fullscreenIcon {
    display: block;
  }
}

/* SUGGERITI MOBILE */
.nav-tabs {
  --bs-nav-tabs-border-color: black;
  .nav-link {
    color: white;
  }
}

.suggeriti-mobile-cards {
  h5 {
    font-size: 12px;
    font-weight: bold;
  }
}

/* PLAYLIST MOBILE */
#playlist-mobile {
  border-radius: 20px;
  background-color: #242424;
}

.bi-heart-fill {
  color: #1ed75f;
}

/* PLAYER MOBILE */
#player-mobile {
  background-color: #242424;
  border-radius: 10px;
  bottom: 100px;
}

/* NAVBAR MOBILE */
#navbar-mobile {
  background-color: #242424;
}

/*ALBUM*/

.songName {
  font-size: medium;
  font-weight: bold;
}
.artistName {
  font-size: small;
  color: gray;
}

/*ARTIST*/

/* HERO MOBILE */

#hero-mobile {
  position: relative;
  background: url(/assets/imgs/artist/img-hero.jpg) center/cover;
  height: 50vh;
  overflow: hidden;
}

#hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.5) 80%
  );
  z-index: 1;
  h1 {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.8rem;
  }
}

/* LISTENER MOBILE */
#listeners-mobile {
  color: #b3b3b3;
  padding: 1rem;
}

#listeners-counter {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.8rem;
}

#icon-wrapper {
  display: flex;
  justify-content: space-between;
}

#follow-wrapper {
  display: flex;
  align-items: center;
  button {
    font-size: 0.8rem;
    margin-right: 1.4rem;
    background-color: inherit;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 4px 12px;
  }
}

#follow-wrapper button.followed {
  border-color: #b3b3b3;
}

#shuffle-wrapper {
  display: flex;
  align-items: center;
}

#shuffleDot {
  background-color: #1db954;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: none;
  transform: translate(6px, -3px);
}

.dotsIcon,
.shuffleIcon {
  color: inherit;
  font-size: 1.3rem;
}

.green {
  color: #1db954;
}

#playIcon {
  margin-left: 0.8rem;
  color: #1db954;
  font-size: 2.5rem;
}

#liked-mobile {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}

/* LIKED MOBILE */

.liked-img {
  border-radius: 50%;
}

#likedIcon {
  margin-right: 1rem;
}

.bi-heart-fill::before {
  transform: translate(27px, -16px);
  background-color: #1db954;
  color: #212121;
  border-radius: 50%;
  font-size: 1rem;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likedSong {
  font-size: 1rem;
  margin-bottom: 0;
}

.likedNum {
  font-size: 0.85rem;
  color: #b3b3b3;
}

/*END LIKED MOBILE*/

/*HERO ARTIST*/

/*Aggiunta classe custom per img di bg di div hero artist */
#buttonFollowingBar {
  background-color: $spotifyGreen;
}
/*Colore bottone play following bar pagina artist*/
.custom-gradient-background {
  background: linear-gradient(to bottom, #cc9900, #444444, #000000);
}
/*aggiunta classe custom per il bg color della sezione album*/
.sfumaAlbum {
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

/*SEARCH*/

#search-component {
  input {
    color: white;
    &::placeholder {
      color: $secondary;
      font-weight: bold;
    }
  }
  .custom-focus:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
}

/* CATEGORIES */

.categories-card {
  overflow: hidden;
  img {
    transform: translateX(16px);
    rotate: 20deg;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  #player-desktop {
    display: none !important;
  }
  #player-title-artist {
    h6 {
      display: none;
    }
  }
}