@import 'bootstrap/scss/bootstrap.scss';

// Variables

// Text and background colors
$darkGradientColor: #010101;
$lighterGradientColor: #202020;
$cardBackground: #171717;
$lighterBackground: #2b2b2b;
$darkTextColor: #838383;
$lightTextColor: #f7f7f7;
// Brealpoints
$mdBreak: 768px;
$lgBreak: 992px;
$xlBreak: 1200px;
$xxlBreak: 1400px;


body {
  background-color: black;
  color: white;
}

/*HOMEPAGE*/

/*LIKED SECTION */

#liked {
  color: $darkTextColor;

  p {
    font-size: 0.8rem;
    font-weight: 700;
  }

  h2 {
    color: $lightTextColor;
    margin-bottom: 30px;
  }

  .playlists {
    gap: 10px;

    .card {
      padding: 10px;
      background-color: $cardBackground;
      border: none;
      display: block;

      // Responsive behaviour based on number of cards
      @media screen and (min-width: $lgBreak){
        display: none;
        @for $i from 1 to 4{
          &:nth-child(#{$i}){
            display: block;
          }
        }
      }
      @media screen and (min-width: $xlBreak){
        @for $i from 1 to 5{
          &:nth-child(#{$i}){
            display: block;
          }
        }
      }
      @media screen and (min-width: $xxlBreak){
        @for $i from 1 to 6{
          &:nth-child(#{$i}){
            display: block;
          }
        }
      }


      img {
        width: 100%;
      }

      h5 {
        color: $lightTextColor;
        font-size: 1rem;
      }

      p {
        color: $darkTextColor;
        font-size: 0.8rem;
      }
    }
  }
}

/* PLAYER DESKTOP */
#player-desktop {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: $cardBackground;
  width: 100vw;
  height: 100px;
  justify-content: space-between;

  svg,
  progress {
    &:hover {
      cursor: pointer;
    }
  }


  .nowPlaying,
  .playbackControls,
  .volumeControls {
    padding: 20px;
    align-items: center;
    gap: 10px;

    h6 {
      color: $lightTextColor;
      font-size: 0.8rem;
    }

    p {
      font-size: 0.8rem;
      color: $darkTextColor;
    }

    img {
      border-radius: 3px;
      box-shadow: 1px 1px, 5px, black;
      width: 60px;
      object-fit: contain;
      display: none;
      @media screen and (min-width: $lgBreak) {
        display: block;
      }
    }

    #volumeBar {
      width: 90px;
      height: 10px;
    }
  }

  .nowPlaying {
    width: 300px;
    gap: 20px;

    p {
      margin: 0;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .playbackControls {
    align-items: center;

    div {
      align-items: center;
      padding: 5px;
      gap: 8px;

      progress {
        height: 8px;
      }

      p {
        margin: 0;
      }
    }

    .playerButtons {
      height: 40px;
      position: relative;
      bottom: 10px;

      svg {
        width: 30px;
        height: 20px;

        &:hover {
          scale: 1.2;
          transition-property: scale;
          transition-duration: 100ms;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  #playButton,
  #pauseButton {
    width: 30px;
    height: 30px;
  }

  #pauseButton {
    display: none;
  }

  .playerBar {
    position: relative;
    bottom: 10px;

    progress {
      width: 300px;

    }
  }

  .playbackControls {
    gap: 10px;
  }
}

#heartFill {
  display: none;
}
.playbackControls{
  position: relative;
  right:30px;
}

.volumeControls {
  svg{
    display: none;
    @media screen and (min-width: $lgBreak){
      display: block;
    }
  }
  #volumeIcon, #fullscreenIcon{
    display: block;
  }
}

/* PLAYLIST MOBILE */
#playlist-mobile {
  border-radius: 20px;
  background-color: #242424;
}

.bi-heart-fill {
  color: #1ed75f;
}

/* PLAYER MOBILE */
#player-mobile {
  background-color: #242424;
  border-radius: 10px;
  bottom: 100px;
}

/* NAVBAR MOBILE */
#navbar-mobile {
  background-color: #242424;
}

/*ALBUM*/

/*ARTIST*/

/*SEARCH*/

#search-component {
  input {
    color: white;

    &::placeholder {
      color: $secondary;
      font-weight: bold;
    }
  }

  .custom-focus:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
}

/* CATEGORIES */

.categories-card {
  overflow: hidden;

  img {
    transform: translateX(16px);
    rotate: 20deg;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  #player-title-artist {
    h6 {
      display: none;
    }
  }
}