@import 'bootstrap/scss/bootstrap.scss';

body {
  background-color: black;
  color: white;
}

/*HOMEPAGE*/

#playlist-mobile {
  border-radius: 20px;
  background-color: #242424;
}

.bi-heart-fill {
  color: #1ed75f;
}

#player-mobile {
  background-color: #242424;
  border-radius: 10px;
  bottom: 100px;
}

#navbar-mobile {
  background-color: #242424;
}

/*ALBUM*/

/*ARTIST*/

/*SEARCH*/
